.metadata-type-tainacan_url_plugin_metadata_type .multivalue-separator {
    display: block;
    max-height: 1px;
    width: 80px;
    background: var(--tainacan-gray3);
    content: none;
    color: transparent !important;
    margin: 1em auto !important;
}